@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin mobile{
    @media screen and (max-width: 1200px){
        @content;
    }
}

.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: rgb(125, 85, 199);
            font-weight: bold;
            font-size: 24px;
        }

        .title{
            color: rgb(86, 70, 226);
            font-weight: bold;
            font-size: 12px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                border-bottom: 1px solid #d0a7ff;
                width: 250px;
            &::placeholder{
                color: rgba($color: #6e426c, $alpha: 0.4);
            }
            }

            button{
                background-color: #a251ff;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #d0a7ff;
                font-size: 14px;
                cursor: pointer;

                img{
                    width: 40px;
                }
            }
        }

        p{
            color: #6e426c;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        @include mobile(){
            width: 100%;
            height: 100%;
            border-radius: 0px;
            border: none;
        }

        .sidebar{
            flex: 1;
            background-color: #3e3c61;
            position: relative;
            overflow-y: auto;

            .navbar{
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                    @include tablet {
                        width: 90%;
                        bottom: 10px;
                    }
                    @include mobile(){
                        display: none;
                    }
                }

                .user{
                    display: flex;
                    gap: 10px;
                    @include mobile(){
                        gap: 5px;
                    }

                    img{
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        @include mobile(){
                            height: 20px;
                            width: 20px;
                        }
                    }

                    button{
                        background-color: #a251ff;
                        color: #ddddf7;
                        font-size: 10px;
                        border: none;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                    @include mobile(){
                        button{
                            background-color: #a251ff;
                            color: #ddddf7;
                            font-size: 10px;
                            border: none;
                            border-radius: 2px;
                            cursor: pointer;
                            position: absolute;
                            top: 50px;
                            right: 5px;
                        }
                    }
                }
        }

        .search{
            border-bottom: 1px solid gray;

            .searchForm{
                padding: 10px;

                input{
                    background-color: transparent;
                    border: none;
                    color: white;
                    outline: none;

                    &::placeholder{
                        color: lightgray;
                    }
                }
            }
        }

        .userChat{
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            overflow: scroll;
            cursor: pointer;

            .removeFriend{
                visibility: hidden;
                display: block;
            }

            &:hover{
                background-color: #2f2d52;
                .removeFriend{
                    visibility: visible;
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                @include mobile(){
                    width: 25px;
                    height: 25px;
                }
            }


            .userChatInfo{
                span{
                    font-size: 18px;
                    font-weight: 500;

                    @include mobile(){
                        font-size: 14px;
                    }
                }
                p{
                    font-size: 14;
                    color: lightgrey;
                    @include mobile(){
                        display: none;
                    }
                }
            }
        }
    }

        .chat{
            flex: 2;

            .chatInfo{
                height: 50px;
                background-color: #5d5b8d;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightgrey;
                font-weight: 500;
            }

            .chatIcons{
                display: flex;
                gap: 10px;

                img{
                    height: 26px;
                    cursor: pointer;
                }
            }

            .messages{
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .message{
                     display: flex;
                     gap: 30px;
                     margin-bottom: 20px;

                     .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        font-size: 13px;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                     }

                     .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img{
                            width: 50%;
                        }
                     }

                     &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;

                            p{
                                background-color: #9697ff;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                     }
                }
            }

            .input{
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 18px;

                    &::placeholder{
                        color: lightgray;
                        @include mobile(){
                            font-size: 12px;
                            font-weight: 500;
                            color: grey;
                        }
                    }
                }
                
                .send{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img{
                        height: 24px;
                        cursor: pointer;
                    }

                    button{
                        border: none;
                        padding: 10px 15px;
                        color: white;
                        background-color: #b676ff;
                        font-size: 14px;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}